@tailwind base;
@tailwind components;
@tailwind utilities;

.transitionPage {
    transition-property: opacity , transform , filter;
    transition-timing-function:linear;
    transition-duration: 500ms;
}

.page-transition {
    opacity: .2;
    /* transform: translateY(40px) ; */
    /* filter: blur(12px); */
}

@font-face {
    font-family: "Bellefair";
    font-weight: 400;
    src: url(./../../public/fonts/Bellefair/Bellefair-Regular.ttf);
}
@font-face {
    font-family: "Barlow-Condensed";
    font-weight: 400;
    src: url(./../../public//fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf);
}
@font-face {
    font-family: "Barlow-Condensed";
    font-weight: 700;
    src: url(./../../public//fonts/Barlow_Condensed/BarlowCondensed-SemiBold.ttf);
}
@font-face {
    font-family: "Barlow";
    font-weight: 400;
    src: url(./../../public//fonts/Barlow/Barlow-Regular.ttf);
}
.homeBackground {
    background: url(./../../public/assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover
}
@media (min-width: 768px) {
    .homeBackground {
        background: url(./../../public/assets/home/background-home-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover
    }
}
@media (min-width: 1024px) {
    .homeBackground {
        background: url(./../../public/assets/home/background-home-desktop.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover
    }
}
.headerb {
    backdrop-filter: blur(80px);
}
.destinationBackground {
    background: url(./../../public/assets/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover
}
@media (min-width: 768px) {
    .destinationBackground {
        background: url(./../../public/assets/destination/background-destination-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover
    }
}
@media (min-width: 1024px) {
    .destinationBackground {
        background: url(./../../public/assets/destination/background-destination-desktop.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover
    }
}
.crewBackground {
    background: url(./../../public/assets/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover
}
@media (min-width: 768px) {
    .crewBackground {
        background: url(./../../public/assets/crew/background-crew-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover
    }
}
@media (min-width: 1024px) {
    .crewBackground {
        background: url(./../../public/assets/crew/background-crew-desktop.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover
    }
}
.techBackground {
    background: url(./../../public/assets/technology/background-technology-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover
}
@media (min-width: 768px) {
    .techBackground {
        background: url(./../../public/assets/technology/background-technology-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover
    }
}
@media (min-width: 1024px) {
    .techBackground {
        background: url(./../../public/assets/technology/background-technology-desktop.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover
    }
}