@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Bellefair";
    font-weight: 400;
    src: url(./../../public/fonts/Bellefair/Bellefair-Regular.ttf);
}
@font-face {
    font-family: "Barlow-Condensed";
    font-weight: 400;
    src: url(./../../public//fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf);
}
@font-face {
    font-family: "Barlow-Condensed";
    font-weight: 700;
    src: url(./../../public//fonts/Barlow_Condensed/BarlowCondensed-SemiBold.ttf);
}
@font-face {
    font-family: "Barlow";
    font-weight: 400;
    src: url(./../../public//fonts/Barlow/Barlow-Regular.ttf);
}
.homeBackground {
    background: url(./../../public/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover
}
.headerb {
    backdrop-filter: blur(80px);
}
.destinationBackground {
    background: url(./../../public/assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover
}
.crewBackground {
    background: url(./../../public/assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover
}